.biggerText {
	font-size: 18px;
	font-weight: lighter;
}

.rotate90 {
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
