/* PLUGIN CSS FILE */
.imgWrapper, .imgWrapperBack{
	position:absolute;
	top: 0;
	left:0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	z-index:3;	
	overflow:hidden;
}
.imgWrapper>img, .imgWrapperBack>img{
	margin:0;
	padding:0;
	width: 100%;
	height:auto;
}
/*
.imgText{
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:50;
	font-size:20px;
	color:#FFF;
	text-shadow:2px 2px 7px #000;
}*/
.imgText{
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	z-index:50;
	font-size:12px;
	color:#FFF;
	background-color:#666;
	background-color:rgba(50,50,50,0.8);
	border-top:1px #999 solid;
	width:100%;
	height:auto;
	padding:5px;
}

.slideshowImgBack{
	z-index:2;
}
#sl_arrowRight,#sl_arrowLeft{
	position:absolute;
	z-index:10 !important;
	top:50%;
	margin-top:-41px;
	opacity:0.4;
	filter:opacity(alpha=40);
	height:32px;
	padding:25px;
}
#sl_arrowRight:hover,#sl_arrowLeft:hover{
	cursor:pointer;
}
#sl_arrowRight{
	right:0px;
	padding-right:2px;
}
#sl_arrowLeft{
	left:0px;
	padding-left:2px;
}