html{
	background-color:#CCC;
	padding:0;
	height:100%;
	overflow:auto;
}
body{
	height:100%;
	padding:0;
	height:100%;
}
#admin-headerWrapper{
	position:relative;
	width:100%;
	background-color:#333;
	color:#CCC;
	overflow:auto;
}
#admin-headerLinks{
	display:inline-block;
}
#admin-headerLinks a{
	color:#DDD;
	font-size:16px;
	text-decoration:none;
	margin-right:10px;
}
#admin-headerLinks a:hover{
	color:#FFF;
	text-decoration:underline;
}
#admin-header{
	position:relative;
	width: 1000px;
	margin:0 auto 0 auto;
	z-index:0;
}
#admin-title{
	display:inline-block;
	font-size:24px;
	font-weight:normal;
	margin: 10px;
	color:#FFF;
}
#admin-options{
	float:right;
	margin-top:12px;
}

#admin-editor{
	position:relative;
	padding:0;
	margin:0 auto;
	width:100%;
	height:100%;
	
}

#msgbox{
	display:inline-block;
}
#deleteButton{
}